[submodule "Plugins/ckanext-harvest"]
	path = Plugins/ckanext-harvest
	url = https://github.com/ckan/ckanext-harvest.git
[submodule "Plugins/ckanext-dcat"]
	path = Plugins/ckanext-dcat
	url = https://github.com/AKSW/ckanext-dcat.git
