[submodule "Plugins/ckanext-harvest"]
	path = Plugins/ckanext-harvest
	url = https://github.com/ckan/ckanext-harvest.git
[submodule "Plugins/ckanext-dcat"]
	path = Plugins/ckanext-dcat
	url = https://github.com/AKSW/ckanext-dcat.git
	
[submodule "Plugins/ckanext-dataretrieval"]
	path = Plugins/ckanext-dataretrieval
	url = https://github.com/stream-project/ckanext-dataretrieval.git
[submodule "Plugins/ckanext-streamtheme"]
	path = Plugins/ckanext-streamtheme
	url = https://github.com/AKSW/ckanext-streamtheme.git
